/*  general style*/
header {
    height: 100px;
    background: #C0C9CB;
    padding-top: 5px;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    color: #183143;
    text-shadow: 10px 0 20px #374346;
}

h4{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  padding: 4px;
}

table   {
    font-family: 'Dancing Script', cursive;
    margin: auto;
    width: 60%;
    margin: 15px auto;
    align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

td{
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
    font-size: 20px;
    font-weight: bolder;
    color: #183143;
}

td img{
  padding: 1px;
  border: 10px solid #183143;
}

td button {
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background-color: #B0BEC5;
  color: #183143;
}


/* Desktop */
.desktop-nav ul {
    float: right;
    margin-top: 10px;
    width: calc(100% - 60px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 50px;
}

/* Mobile */
.mobile-nav {
    display: none;
    text-align: center;
}

.mobile-nav .logo {
    display: inline-block;
}

.mobile-nav .hamburger-container,
.mobile-nav .cart-container {
    vertical-align: top;
    margin-top: 30px;
    display: inline-block;
     margin-left: -4px;
}

.mobile-nav .logo-container {
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 70px);
}

.mobile-nav h1{
  text-align: center;
  color: #183143;
  text-shadow: 4px 0 4px #374346;
  font-weight: 400;
}

.mobile-nav button {
    background: transparent;
    border: none;
    color: #183143;
}

@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}


 @media (max-width:768px) {
  a, h1{
    text-align: top;
    font-size: 23px;
    color: #183143;
    text-shadow: 5px 0 5px #374346;
  }
}

@media (max-width:768px) {
  .hero{
    display: none;
  }
  .art-display {
        background-image: url('../img/back.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
  }

.mobile-nav .art-display {
        background-image: url('../img/back.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
}

ul{
    margin: 0;
}

.logo a {
  text-decoration: none;
  color: #0B677C;
}

.lego a:hover,
.lego a:visited,
.lego a:focus,
.lego a:active {
  color: #183143;
}

.hero {
    padding: 0;
    background: #E0E0E0;
    height: 60px;
}


.hero a, li {
      font-family: 'Dancing Script', cursive;
      display:inline-block;
      text-decoration: none;
      font-weight: 700;
      font-size: 25px;
      color: #0B677C;
      text-shadow: 10px 0 20px #374346;
      margin-left: 25px;
      padding-top: 5px;
 }

 .hero a:active,
 .hero a:focus {
   color: #0B677C;
}

 .hero a:hover {
    color: #151827;
 }

.hero i {
   width: 50px;
   margin-left: 360px;
   padding: 4px;
}


 .art-display {
    background-size: cover;
    background-image: url('../img/back.jpg');
    width: 100%;
    height: 120vh;
    display: inline-table;
    margin: 0;
    position: relative;
}


/* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */

footer {
    height:100px;
    background: #89867a;
    padding: 0;
     margin: 0;
    text-align: center;
    padding-top: 7px;
}

footer a {
    color: #183143;
    font-size: 0.8em;
}

footer a:hover {
  opacity: 0.6;
}

.social-icons li {
    display: inline-block;
    font-size: 18px;
    color: #183143;
}

.social-icons i {
    font-size: 2em;
    margin-right: 10px;
    color: #183143;
}

@media (max-width :768px) {
.social-icons i {
    display: inline-block;
    font-size: 23px;
  }

h4{
  font-size: 24px;
  }

footer {
  text-align: center;
    }
}
