
/*  general style*/
header {
    height: 100px;
    background: #C0C9CB;
    padding-top: 5px;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    color: #183143;
    text-shadow: 10px 0 20px #374346;
}

h4{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}


/* Desktop */
.desktop-nav ul {
    float: right;
    margin-top: 10px;
    width: calc(100% - 60px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 50px;

}

/* Mobile */
.mobile-nav {
    display: none;
    text-align: center;
}

.mobile-nav .logo {
    display: inline-block;
}

.mobile-nav .hamburger-container,
.mobile-nav .cart-container {
    vertical-align: top;
    margin-top: 30px;
    display: inline-block;
     margin-left: -4px;
}

.mobile-nav .logo-container {
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 70px);
}

.mobile-nav h1{
  text-align: center;
  color: #183143;
  text-shadow: 4px 0 4px #374346;
  font-weight: 400;
}

.mobile-nav button {
    background: transparent;
    border: none;
    color: #183143;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Mobile Menu Styles
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 .mobile-menu {
 	position:absolute;
 	top: 0;
 	right: 0;
 	left: 0;
 	height: 175px;
 	background-color: #C0C9CB;
 	padding-right: 20px;
 	padding-bottom: 20px;
 	transition: 0.2s;
 	transform: translateY(-250px);
 	z-index: 1;
 }

 .open {
 	transform: translateY(60px);
 }

 .mobile-menu ul {
 	color: #183143;
 	font-family: 'Dancing Script', cursive;
 	font-size: 20px;
 	text-decoration: none;
 	list-style: none;
 	text-align: right;
 	margin-right: 5px;
 }

 .mobile-menu a:visited {
 	color: #183143;
 	text-decoration: none;
 }

 .mobile-menu a:hover,
 .mobile-menu a:focus,
 .mobile-menu a:active {
 	opacity: 0.8;
 	color: #183143;
 	text-decoration: none;
 }

 .mobile-menu a {
 	color: #183143;
 	text-decoration: none;
 }

 .mobile-menu .fa-times {
 	color: #183143;
 	float: right;
 	padding-right: 10px;
 }

 /* @media (min-width: 768px) {
 	.mobile-menu {
 		display:none;
 	}
  .mobile-nav {
      display:none;
  }

 } */


@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}


 @media (max-width:768px) {
  a, h1{
    text-align: top;
    font-size: 23px;
    color: #183143;
    text-shadow: 5px 0 5px #374346;
  }
}


@media (max-width:768px) {
  .hero{
    display: none;
  }
  .art-display {
        background-image: url('../img/room.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        height: 120vh;
    }
  }

/* mobile art-display */
.mobile-nav {
        background-image: url('../img/room.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;

}

p{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: justify;
    color: #183143;
 }

ul{
    margin: 0;
}

.logo a {
  text-decoration: none;
  color: #0B677C;
}

.lego a:hover,
.lego a:visited,
.lego a:focus,
.lego a:active {
  color: #183143;
}

.hero {
    padding: 0;
    background: #E0E0E0;
    height: 60px;
}


.hero a, li {
      font-family: 'Dancing Script', cursive;
      display:inline-block;
      text-decoration: none;
      font-weight: 700;
      font-size: 25px;
      color: #0B677C;
      text-shadow: 10px 0 20px #374346;
      margin-left: 25px;
      padding-top: 5px;
 }

 .hero a:active,
 .hero a:focus {
   color: #0B677C;
}

 .hero a:hover {
    color: #151827;
 }

.hero i {
   width: 50px;
   margin-left: 360px;
   padding: 4px;
}

.art-display {
    background-size: cover;
    background-position: center;
    background-image: url('../img/room.jpg');
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
}

.text {
    position: absolute;
    top: 78%;
    left: 50%;
   transform: translate(-50%, -50%);
   text-shadow: 10px 0 20px #374346;
}


 .pic-1 {
       width: 210px;
       height: 190px;
       padding: 5px;
       position: absolute;
   }


.pic-1 img{
    width: 100%;
    height: 100%;
    padding: 1px;
    border:15px solid #183143;
    box-shadow: 5px 5px 10px #9E9E9E;
    position: absolute;
    top: 30vh;
    left: 22vw;
}

.pic-1 a:hover{
  transition: 0.3s;
  opacity: 0.7;
}

.pic-3{
      width: 260px;
      height: 170px;
      position: absolute;
  }

.pic-3 img{
   width: 100%;
   height: 100%;
   padding: 1px;
   border:15px solid #183143;
   box-shadow: 5px 5px 10px #9E9E9E;
   position: absolute;
   left: 40vw;
   top: 32vh;
}

.pic-3 a:hover{
  transition: 0.3s;
  opacity: 0.7;
}


.pic-4{
      width: 300px;
      height: 250px;
      padding: 4px;
     position: absolute;

  }

.pic-4 img{
   width: 100%;
   height: 100%;
   padding: 1px;
   border:15px solid #183143;
   box-shadow: 5px 5px 10px #9E9E9E;
   position: absolute;
   left:57vw;
   top:15vh;
}

.pic-4 a:hover{
  transition: 0.3s;
  opacity: 0.7;
}


.pic-6{
      width: 190px;
      height: 220px;
      padding: 10px;
     position: absolute;

  }

.pic-6 img{
   width: 100%;
   height: 100%;
   padding: 1px;
   border: 15px solid #183143;
   box-shadow: 5px 5px 10px #9E9E9E;
   position: absolute;
   left: 43vw;
   top: 5vh;
}

.pic-6 a:hover{
  transition: 0.3s;
  opacity: 0.7;
}


.pic-7{
      width: 280px;
      height: 210px;
      padding: 10px;
      position: absolute;

  }

.pic-7 img{
   width: 100%;
   height: 100%;
   padding: 1px;
   border: 15px solid #183143;
   box-shadow: 5px 5px 10px #9E9E9E;
   position: absolute;
   left: 25vw;
   top: 3vh;
}

.pic-7 a:hover{
  transition: 0.3s;
  opacity: 0.7;
}


.mobile-pic img {
  width: 50%;
  border:15px solid #183143;
  padding: 1px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}


/* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */

footer {
    min-height:100px;
    background: #89867a;
    padding: 0;
     margin: 0;
    text-align: center;
    padding-top: 7px;
}

footer a {
    color: #183143;
    font-size: 0.8em;
}

footer a:hover {
  opacity: 0.6;
}

.social-icons li {
    display: inline-block;
    font-size: 18px;
    color: #183143;
}

.social-icons i {
    font-size: 2em;
    margin-right: 10px;
    color: #183143;
}

@media (max-width :768px) {
.social-icons i {
    display: inline-block;
    font-size: 23px;
  }

h4{
  font-size: 24px;
  }

footer {
  text-align: center;
    }
}
